<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="root"></div>

		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		<script
			crossorigin
			src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
		<script type="text/babel">
			// const root = document.querySelector('#root');
			// const title = document.createElement('h1');
			// title.innerText = 'Hello World!';
			// root.append(title);

			// const title = React.createElement(
			// 	'h1',
			// 	{ id: 'impTitle', className: 'hello-world' },
			// 	'Hello world from ReactJS'
			// );
			// const para = React.createElement(
			// 	'p',
			// 	null,
			// 	'This is some paragraph text.'
			// );
			// const box = React.createElement('section', { children: [title, para] });

			// const box = React.createElement(
			// 	'header',
			// 	null,
			// 	React.createElement('h1', null, 'Hello world from ReactJS'),
			// 	React.createElement('p', null, 'Hello world again from ReactJS')
			// );

			// const title = (
			// 	<h1 className='hello-world' id='title'>
			// 		Hello World from ReactJS
			// 	</h1>
			// );

			// const children = 'Hello World. This is the page title';
			// const asdfasdf = 'title';
			// const props = { children, className };

			// // const title = React.createElement('h1', {...props})
			// const title = <h1 {...props} />;
			// // const title = <h1 children='Hello World. This is the page title' className="title" />;

			// let cart = 5;
			// let amount = 3423;

			// const title = (
			// 	<h1 className={asdfasdf}>
			// 		You have {cart} items in your cart. Total amount: ${amount * 2}
			// 	</h1>
			// );

			function BlogPost({ title, date, author, children, url, highlight }) {
				return (
					<article style={{ background: highlight ? 'yellow' : 'white' }}>
						<h4>{title}</h4>
						<p>
							Published on {date} by <em>{author}</em>
						</p>
						<p>{children}</p>
						<a href={url}>Read More</a>
					</article>
				);
			}

			const posts = (
				<section>
					<h2>Latest Posts</h2>

					<BlogPost
						highlight
						title='Blog Post #10'
						date={new Date().toLocaleDateString()}
						author='Jane Doe'
						url='#'>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae
						quam tempore molestiae esse dolores, sed natus, quia repellat vel
						minima minus porro, perferendis sint. Aliquam officia alias
						necessitatibus consectetur.
					</BlogPost>

					{React.createElement(BlogPost, {
						title: 'Blog Post #1',
						date: new Date().toLocaleDateString(),
						author: 'Jane Doe',
						children:
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae quam tempore molestiae esse dolores, sed natus, quia repellat vel minima minus porro, perferendis sint. Aliquam officia alias necessitatibus consectetur.',
						url: '#',
					})}

					{BlogPost({
						title: 'Blog Post #1',
						date: new Date().toLocaleDateString(),
						author: 'Jane Doe',
						children:
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae quam tempore molestiae esse dolores, sed natus, quia repellat vel minima minus porro, perferendis sint. Aliquam officia alias necessitatibus consectetur.',
						url: '#',
					})}
				</section>
			);

			// const element = (
			// 	<>
			// 		<p style={{ backgroundColor: 'red', color: 'white' }}>Hello World</p>
			// 		<p>Hello World</p>
			// 	</>
			// );

			ReactDOM.render(element, document.querySelector('#root'));
		</script>
	</body>
</html>
