body {
	font-family: Inter, sans-serif;
	background-color: rgba(0, 0, 0, 0.06);
}

.navbar {
	padding: 1rem 1.5rem;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.navbar .container {
	width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo {
	font-size: 1.8rem;
	font-weight: 700;
	text-decoration: none;
	color: black;
	letter-spacing: -1px;
	transition: all 0.2s;
}

.navbar .logo:hover {
	color: rgba(8, 41, 158, 1);
}

.navbar .menu {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar .menu a {
	text-decoration: none;
	font-size: 1.15rem;
	color: rgba(8, 41, 158, 1);
	font-weight: 500;
}

.navbar .menu a:hover {
	color: rgb(6, 29, 113);
}

.navbar .menu .cta-btn {
	padding: 0.9rem 1.2rem;
	background-color: rgba(8, 41, 158, 1);
	color: white;
	font-weight: 600;
	border-radius: 0.4rem;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.navbar .menu .cta-btn img {
	width: 20px;
}

.navbar .menu .cta-btn:hover {
	color: white;
	background-color: rgb(6, 29, 113);
}

.posts {
	margin-top: 79px;
}

.posts .container {
	width: 1400px;
	margin: 0 auto;
}

.posts .posts-content {
	padding: 4rem 0;
}

.posts .post {
	border-radius: 0.9rem;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
}

.posts .post:hover {
	transform: translateY(-10px);
}

.posts .posts-content h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.posts .posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

.posts .post .header img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 0.9rem;
	border-top-right-radius: 0.9rem;
}

.posts .post .body {
	background-color: white;
	border-bottom-left-radius: 0.9rem;
	border-bottom-right-radius: 0.9rem;
	padding: 1.3rem 1.3rem;
}

.posts .post .body .metadata {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
	color: rgba(0, 0, 0, 0.7);
}

.posts .post .body h4 {
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.posts .post .body .excerpt {
	font-size: 1rem;
	margin-bottom: 1.2rem;
	color: rgba(0, 0, 0, 0.9);
	line-height: 1.4;
}

.posts .post .body .btn {
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 1.1rem;
	font-weight: 600;
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	color: black;
	border-radius: 0.6rem;
	transition: all 0.2s;
}

.posts .post .body .btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
