body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	height: 100px;
	width: 100px;
	background-color: red;
	border: 10px solid black;
	color: white;
	font-size: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; */
/* height: 500px; */
/* background-color: gray; */
/* align-content: space-between; */
/* } */


/* .box3 { */
/* order: 1; */
/* height: 300px;
	flex-grow: 2;
}

.box2 { */
/* order: 2; */
/* height: 500px;
	flex-grow: 1;
}

.box5 {
	align-self: flex-end;
} */

/* .box1 {
	height: 200px;
}

.box4 {
	height: 500px;
}

.box5 {
	height: 50px;
	font-size: 20px;
} */
