body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	min-height: 200px;
	background-color: red;
	border: 5px solid black;
	color: white;
	font-size: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-columns: repeat(5, 1fr); */
	/* grid-template-rows: 1fr 2fr 1fr 2fr; */
	/* row-gap: 20px; */
	/* column-gap: 40px */
	gap: 20px;
	/* grid-template-areas:
		"header header header header"
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
}

/* .box:hover {
	background-color: blue;
	transition: all 0.2s ease-in;
	transform: rotate(90deg);
	filter: blur(10px);
} */


@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	body {
		background-color: blue;
	}

	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


@media screen and (min-width: 1400px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


@media print {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
		display: none;
	}
}


/* .box2 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
} */

/* .box1 {
	grid-area: header;
}

.box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */
