* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@font-face {
	font-family: 'romeria_notes_personal_useRg';
	src: url('./assets/romerianotes-webfont.woff2') format('woff2'),
		url('./assets/romerianotes-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* * {
	font-family: Arial, Helvetica, sans-serif;
} */

/* .imp-text {
	border: 2px solid red;
}

.special {
	background-color: aquamarine;
}

.imp-text.special {
	background-color: red;
} */

/* #something {
	border: 5px solid blue;
} */

/* p {
	border: 2px solid purple;
} */

/* li {
	border: 4px solid orange;
} */

/* p.special {
	border: 4px solid orange;
} */
/*
li,
p,
a,
.special {
	border: 4px solid orange;
} */

/* ol>li {
	border: 2px solid orange;
} */
/*
h3+p {
	border: 2px solid red;
} */

/* [href="https://google.com"] {
	border: 2px solid red;
} */

/* [class*="d"] {
	border: 5px solid red;
} */

/* h1 { */
/* border: 10px solid red;
	border-width: 5px; */
/* border: 10px solid orangered; */
/* border-top: 10px solid red;
	border-bottom: 10px dotted green;
	border-left: 20px outset yellowgreen; */
/* border: 20px double red; */
/* border-style: groove; */
/* border-width: 20px 10px 5px 50px;
	border-top-width: 100px; */
/* background-color: hsla(30, 80%, 70%, 0.6) */
/* } */

/* h1:hover {
	background-color: hsla(30, 80%, 40%, 0.6)
} */

/* .box {
	height: 300px; */
/* background: gray url(./assets/1.jpeg) no-repeat center center/200%; */
/* background-color: gray;
	background-image: url(./assets/android-chrome-192x192.png), url(./assets/1.jpeg);
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	background-size: 192px, 200%; */
/* background-image: url(./assets/android-chrome-192x192.png), linear-gradient(to bottom left, gray, red, blue, orange);
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center; */
/* background-image: radial-gradient(red, yellow, green, blue); */
/* background-clip: text; */
/* margin: 150px;
	background-color: white; */
/* background-image: url(./assets/1.jpeg); */
/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	background-attachment: fixed; */
/* display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 10px 20px rgb(184, 7, 7), 0 0 20px 40px rgb(7, 10, 184);
} */

/* .box h1 {
	font-size: 100px; */
/* color: transparent; */
/* } */

/* h1,
h2,
h3,
h4,
h5,
h6,
body {
	font-family: "DM Serif Display", serif;
} */

/* p {
	color: red;
	font-family: "DM Serif Display", serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
	color: black; */
/* text-shadow: 3px 3px 0 blue, -3px -3px 0 red; */
/* line-height: 1.4; */
/* letter-spacing: -2px;
	word-spacing: 10px;
	text-align: justify; */
/* } */
/*
p,
span {
	background-color: red;
}

p {
	display: inline;
}

span {
	display: block;
} */

/* strong {
	display: inline-block;
	background-color: yellow;
	padding: 20px;
} */

p {
	margin: 0;
}

/*
.box1 {
	background-color: yellow;
	padding: 20px 50px 100px 200px;
	width: 300px;
	margin: auto;
} */

/* html {
	font-size: 16px;
}

.testbox {
	background-color: red;
	height: auto;
	padding: 1rem;
	width: auto;
	font-size: 1.3rem;
} */

/* body {
	margin: 0;
}

.outer {
	height: 500px;
	width: 100%;
	background-color: yellow;
}

.testbox {
	background-color: red;
	height: 100%;
	width: 50%;
} */

body {
	margin: 0;
}


/* .testbox {
	background-color: yellow;
	padding: 50px;
	border: 10px solid red;
	width: 50%;
} */

/*
.testbox {
	background-color: yellow;
	padding: 20px;
	width: 220px;
	height: 150px;
	overflow: auto;
} */

/* .first-image {
	float: left;
} */

/* .first-image {
	position: fixed;
	top: 20px;
	right: 20px;
} */



.navbar {
	background-color: black;
	color: white;
	padding: 20px 40px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.navbar h1 {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
}
